NEXT_PUBLIC_APP_MODE=mainnet
NEXT_PUBLIC_ENABLE_LIVE_TRADING=false

NEXT_PUBLIC_NADO_NETWORK=inkMainnet
NEXT_PUBLIC_NADO_BUILDER_ID=4700
NEXT_PUBLIC_NADO_BUILDER_FEE_RATE_UNITS=5
NEXT_PUBLIC_NADO_SUBACCOUNT_NAME=default

NEXT_PUBLIC_PACIFICA_NETWORK=mainnet
NEXT_PUBLIC_PACIFICA_BUILDER_CODE=OPIPOLIX
NEXT_PUBLIC_PACIFICA_MAX_FEE_RATE=0.1

NEXT_PUBLIC_DEFAULT_SYMBOL=ETH
NEXT_PUBLIC_DEFAULT_NOTIONAL_USD=10
NEXT_PUBLIC_MAX_SLIPPAGE_BPS=100
