NEXT_PUBLIC_APP_MODE=testnet
NEXT_PUBLIC_ENABLE_LIVE_TRADING=false

NEXT_PUBLIC_NADO_NETWORK=inkTestnet
NEXT_PUBLIC_NADO_BUILDER_ID=
NEXT_PUBLIC_NADO_BUILDER_FEE_RATE_UNITS=
NEXT_PUBLIC_NADO_SUBACCOUNT_NAME=default

NEXT_PUBLIC_PACIFICA_NETWORK=testnet
NEXT_PUBLIC_PACIFICA_BUILDER_CODE=
NEXT_PUBLIC_PACIFICA_MAX_FEE_RATE=

NEXT_PUBLIC_DEFAULT_SYMBOL=ETH
NEXT_PUBLIC_DEFAULT_NOTIONAL_USD=10
NEXT_PUBLIC_MAX_NOTIONAL_USD=100
NEXT_PUBLIC_MAX_SLIPPAGE_BPS=100
